discord.py==2.1.0
ffmpeg==1.4
python-dotenv==0.20.0
yt-dlp==2023.02.17
requests==2.27.1
git+https://github.com/ytdl-org/youtube-dl.git@master#egg=youtube_dl
PyNaCl==1.5.0
discord-py-interactions==4.3.2